<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SastaGPT</title>
    <meta name="keywords" content="keywords" />

    <meta name="description" content="description" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="icon" type="image/x-icon" href="../static/img/favicon.svg" />
  </head>
  <body>
    <div class="container">
      <div class="left">
        <button class="btnAdd">
          <svg
            stroke="currentColor"
            fill="none"
            stroke-width="2"
            viewBox="0 0 24 24"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon-sm shrink-0"
            height="1em"
            width="1em"
            xmlns="http://www.w3.org/2000/svg"
          >
            <line x1="12" y1="5" x2="12" y2="19"></line>
            <line x1="5" y1="12" x2="19" y2="12"></line>
          </svg>
          Add Chat
        </button>
        <div class="chats"></div>
      </div>
      <div class="right">
        <div class="chatContent">
          <div class="text">SastaGPT</div>
          <div class="question">
            <div style="width: 100%">
              <img
                src="../static/img/favicon.svg"
                width="30px"
                height="30px"
                style="display: flex"
                alt=""
                srcset=""
              />
              <div class="questionText">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel sit
                nostrum explicabo ex voluptatibus debitis perspiciatis numquam
                consectetur mollitia dolorem!
              </div>
            </div>
          </div>
          <div class="answer">
            <div class="answerText" style="width: 100%">Loading...</div>
          </div>
        </div>
        <div class="sendButton">
          <textarea
            id="askq"
            name="text"
            placeholder="Send a Message"
          ></textarea>
          <button id="sendButton__button" class="sendButton__button">
            <img src="../static/img/send.svg" alt="Send" />
          </button>
        </div>

        <div class="disclaimer">
          SastaGPT may produce inaccurate information about people, places, or
          facts.
        </div>
      </div>
    </div>
    <script src="../static/js/main.js"></script>
  </body>
</html>
